$maxWidth: 1400px;
$phoneSize: 1200px;

$background: #fdf8ec;
$main: #9b582e;
$textHighlight: #533019;
$textDescription: #3d3d3d;
$textMacroName: #6e6e6e;
$buttonSecondary: #ca7111;
$productBackground: #fbf4df;
$productBorder: #fbeed0;
$itemBackround: #fefcf6;
$macrosBackround: #f9e8dc;
$orderBackground: #f9eecd;
$inputFieldOutline: #e0e0e0;
$white: #fff;
$black: #000;
